{{ 'section-fly-row.css' | asset_url | stylesheet_tag }}

<div class="content_div" style="height: 820px;">
  <div class="div_cell">v2</div>
  <div class="div_cell div_cell_right">v3</div>
</div>

<style></style>
