{{ 'section-fly-row.css' | asset_url | stylesheet_tag }}

<div class="content_div" style="height: 400px;">
  <div class="div_cell" style="background-color: rgb(246,144, 124 );">v7</div>
  <div class="div_cell div_cell_right" style="background-color: rgb(197, 255, 32);">v8</div>
  <div class="div_cell div_cell_right" style="background-color: rgb(212,0,255);">v9</div>
  <div class="div_cell div_cell_right" style="background-color: rgb(0,255,121);">v10</div>
</div>

<style></style>
