{{ 'section-fly-row.css' | asset_url | stylesheet_tag }}

<div class="content_div" style="height: 820px;">
  <div class="div_cell" style="background-color: rgb(255, 90, 243);">v1</div>
</div>
<div class="content_div" style="height: 820px;">
  <div class="div_cell" style="background-color: rgb(0, 0, 0);">v2</div>
</div>
<div class="content_div" style="height: 820px;">
  <div class="div_cell" style="background-color: rgb(0, 255, 121);">v3</div>
</div>
<div class="content_div" style="height: 820px;">
  <div class="div_cell" style="background-color: rgb(162, 255, 0);">v4</div>
</div>

<style></style>
