{{ 'section-fly-row.css' | asset_url | stylesheet_tag }}

<div class="content_div" style="height: 400px;">
  <div class="div_cell">v7</div>
  <div class="div_cell div_cell_right">v8</div>
  <div class="div_cell div_cell_right">v9</div>
  <div class="div_cell div_cell_right">v10</div>
</div>

<style></style>
